html {
    border: 0;
    margin: 0;
    animation-name: start;
    animation-duration: 1s; 
  }
  
  @keyframes start {
    0% {
      filter: blur(10px); 
      opacity: 0; 
    }
    100% {
      filter: blur(0); 
      opacity: 1; 
    }
  }

  body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
    background-color: rgb(66, 33, 33);
}

#nav-bar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform:uppercase;
    list-style: none;
    display:flex;
    position:fixed;
    flex-wrap:wrap;
    gap:5em;
    margin-top:2em;
    right:3em;
}

a{
    text-align: right;
    color: aliceblue;
    text-decoration: none;
}

#contact{
    text-decoration: solid 1px underline white;
    text-underline-offset: 4px;
}


#section-container{
    padding: 22em;
    padding-top:10em;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
}

#contact-section-1 {
    display: flex;
    background-color: rgba(247, 247, 247, 0.2); 
    min-width: 40em;
    min-height: 25em;
    border-radius: 2em;
    transition-duration: 0.5s;
  }

#div-name{
  margin: 1em;
  padding: 1em;  
}

label {
  color:#f4f4f4;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#inputName {
  color: #333;
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 1em;
  outline: none;
}

#inputName::placeholder {
  color: rgb(181, 180, 180,0.8);
}

#div-email{
  margin: 1em;
  padding: 1em;  
}

#inputEmail {
  color: #333;
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 1em;
  outline: none;
}

#inputEmail::placeholder {
  color: rgb(181, 180, 180,0.8);
}

#div-feedback{
  margin: 1em;
  padding: 1em;  
}

#inputFeedback {
  color: #333;
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 1em;
  outline: none;
}

#inputFeedback::placeholder {
  color: rgb(181, 180, 180,0.8);
}

