
@media (max-width: 768px) {
    .navbar {
        padding: 4rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: 0.8rem;
    }

    .navbar-toggler {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: #ffffff00;
    }

    .navbar.scrolled .navbar-toggler{
        filter: invert(1);
        border-color: #ffffff;
    }

    .hero-section {
        min-height: 120vh;
        padding: 1rem 1rem;
        text-align: center;
        background-size: cover;
    }
    
    .main-title {
        font-size: 3rem;
        letter-spacing: 0.1rem;
    }

    .subtitle {
        font-size: 1rem;
        letter-spacing: 0.1em;
    }

    .skills-grid, .blog-posts {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 1rem;
        padding: 2rem 1rem;
    }

    .contact-container {
        width: 95%;
        padding: 1.5rem;
    }

    .submit-btn {
        width: 100%;
    }

    .footer {
        padding: 1rem;
        text-align: center;
    }

    .social-links {
        display: flex;
        gap: 3rem;
        justify-self: center;  
        font-size: 2em; 
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 0.5rem;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        min-height: 100vh;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        position: relative;
        background: linear-gradient(
            to top, 
            rgba(0, 0, 0, 1), 
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0)
        ), url('./Images/Profile/Lasith_small.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        width: 100vw;
    }


    .main-title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .skills-grid, .blog-posts {
        grid-template-columns: 1fr;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .contact-container {
        width: 100%;
        padding: 1rem;
    }

    .submit-btn {
        width: 100%;
    }

    .social-links {
        flex-direction: row;
        justify-content: center;
    }
}
