html{
    border:0;
    margin:0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
    background-color: black;
}

section{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
}

img{
    padding: 2.5em;
    display:flex; 
    border-radius: 100em;
    width: 22em;
    height: 30em;
}

h1{
    margin:1em;
    color: aliceblue;
    display: flex;
    width:30vw;
    align-items: center;
    /* justify-content: center; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
}